{% extends 'base.html.twig' %}

{% block body %}
    <div class="date_jour">

        Date du jour : {{ "now"|date('d/m/Y') }}

        {% for sortie in sorties %}

        <h1> {{ sortie.nom }} </h1>
            {{ sortie.dateDebut|date('d/m/Y') }}
        {% endfor %}

    </div>

{% endblock %}

{% block title %}

{% endblock %}

