{% extends 'base.html.twig' %}

{% form_theme ChangePasswordFormView 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ parent() }} | Changement du mot de passe{% endblock %}

{% block body %}

    <h1>Modification du mot de passe</h1>


    {{ form(ChangePasswordFormView) }}

    <a class="btn btn-secondary btn-lg" role="button" href="{{ path('profil_edit',{'id' : app.user.id}) }}">
        Annuler
    </a>

{% endblock %}