{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Mon Profil</h1>

    {{ form_start(profilForm) }}
    {{ form_widget(profilForm) }}


    <button type="submit" class="btn">Enregistrer</button>
    {{ form_end(profilForm) }}
{% endblock %}